snippet js "<script ...app.js></script>"
<script type="text/javascript" src="/js/$1.js"></script>$0
endsnippet

snippet popps "<script ...popps.js></script>"
<script type="text/javascript" src="http://js.cadenpopps.com/popps.js?v=${1:0}"></script>$0
endsnippet

snippet jquery "<script ...jquery.js></script>"
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
endsnippet
